<header id="page-header">
  <a href="/">Recipes</a>
</header>

<article id="page-container">
  <div class="title-image-container ">
    <img class="title-image" id="pancakes" width="360" height="202" src="https://ichef.bbci.co.uk/food/ic/food_16x9_1600/recipes/fluffyamericanpancak_74828_16x9.jpg">
  </div>

  <h1 class="title" id="recipe-title">{{ title }}</h1>

  <div id="column-container">
    <div class="column" id="column-left">
      <section id="ingredients-container">
        <h2 id="ingredients-title" class="title">Ingredients</h2>

        <ul id="ingredients-list">
          {{#each ingredients}}
            <li class="ingredients">{{{ this }}}</li>
          {{/each}}
        </ul>
      </section>

      <section id="serving-container">
        <h2 class="header-2 title" id="serving-title">Serving size</h2>
        <div>
          <input type="range" name="serving-size" id="serving-slider" min="1" max="12" step="1" value="{{ servings }}">
          <button id="serving-button">Submit</button>
          <div id="serving-size">{{ servings }}</div>
        </div>
      </section>
    </div>

    <div class="column" id="column-right">
      <section id="method-container">
        <h2 id="method-title" class="title">Method</h2>
        
          {{#each methods}}
            <p class="method-steps">
              {{ this }}
            </p>
          {{/each}}
        
      </section>

      <section id="comments-container">
        <h2>Comments</h2>

        <div id="comments-box">
        </div>

        <div>
          <label for="comment">Leave your comment:</label>
          <input type="text" id="new-comment" name="comment" required
   minlength="1" maxlength="256" size="30">
          <button id="submit-comment">Submit</button>
        </div>
      </section>
    </div>
  </div>

</article>

<script src="./script.js"></script>